.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: auto;

  position: relative;
  margin-top: 2rem;
  height: 110vh;
  overflow: auto;
}

.container.city-map {
  margin-top: 6rem;
}

.container.city-salaries {
  margin-top: 7rem;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}
